<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonCrypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Somen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SomenMacSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SomenSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60084CEC1E6AF52300D17A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60084CF51E6AF52300D17A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60084D0A1E6AF57000D17A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E7327D1E6B054600AB2C7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60E732971E6B0F6F00AB2C7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
